<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Du hast noch keine Materialien ausgewählt. Bitte gehe <%= link_to "zurück in den Shop", root_path %> und wähle Verpackungsmaterialien aus.
  </p>
<% else %>
  <ul class="list-group">
  <% @order_items.each do |order_item| %>
    <li class="list-group-item"><%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %></li>
  <% end %>
  </ul>
<% end %>
