<nav class="navbar sticky-top navbar-light navbar-expand-lg bg-light">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav"></ul>
      <ul class="navbar-nav ml-auto">
        <div class="cart-text"><%= render 'layouts/cart_text' %></div>
      </ul>
    </div>
  </div>
</nav>
