<div class="col">
  <div class="title-section">                  
                  
    <div class="jumbotron mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
      <h1 class="display-3">Willkommen</h1>
      <p>Bei der Verpackstation.</p>
      <p class="lead">
          <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Mehr erfahren</a>
      </p>
    </div>
  </div>  
</div>
